@use "./base.scss";

h1,
h2,
h3,
h4,
h5,
h6

.page .center {
    margin-bottom: 0.5em;
}



   /* Scrollbar */



*::-webkit-scrollbar-thumb:hover {
    background-color: var(--tertiary);
}

/* Handle */
* {
    scrollbar-color: var(--secondary) var(--light);
}
// Breadcrumbs

nav.breadcrumb-container {
    --bcGap: 0.25em;
    font-size: 1em;
    color: var(--dark);
    gap: unset;
    opacity: 1.0;
    .breadcrumb-element {
        margin-right: var(--bcGap);
        text-transform: capitalize;
        &:last-child {
            display: none;
        }
        > p {
            display: none;
        }
        a {
            color: var(--secondary);
        }
        &::after {
            content: "/";
            margin-left: var(--bcGap);
            opacity: 1.0;
        }
    }
}



// Page Title

h1.page-title {
    position: relative;
    flex-basis: 60%;
    font-size: var(--dark);
    margin: 0.0625em 0 0;
}
h1.page-title a {
    font-family: monospace;
      font-size: 1.5em;
}


// Footer

body footer {
    margin: 2em 0 4em;
    opacity: 1;
}
body footer * {
    color: var(--gray);
}
body footer > :first-child {
    line-height: 125%;
    margin-top: 0;
}
body footer ul {
    flex-wrap: wrap;
    gap: unset;
    margin: -0.5em -1em 0 0;
}
body footer ul > * {
    margin-right: 1em;
}

// Graph

div.graph {
    margin-bottom: 2.875em;
}
div.graph > h3 {
    font-size: var(--t6);
}
div.graph > .graph-outer {
    margin: 0.5em 0 0;
    border: 0.0625em solid var(--lightgray);
    border-radius: calc(var(--r3) + var(--r1));
}
div.graph > .graph-outer > #global-graph-icon {
    width: 1.5em;
    height: 1.5em;
    padding: 0.5em;
    margin: 0.0625em;
    border-radius: var(--r3);
    stroke-width: 1.375px;
    opacity: 1;
}
#graph-container svg {
    width: 100%;
}
div.graph > #global-graph-outer {
    backdrop-filter: blur(8px);
    background-color: hsla(230, 15%, 16%, 0.2);
}
html[saved-theme="dark"] div.graph > #global-graph-outer {
    background-color: hsla(60, 13%, 97%, 0.1);
}
div.graph > #global-graph-outer.active::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 16 16' fill='none'%3E%3Cpath stroke='currentColor' stroke-linecap='butt' stroke-width='1.5' d='M2 14L14 2'/%3E%3Cpath stroke='currentColor' stroke-linecap='butt' stroke-width='1.5' d='M14 14L2 2'/%3E%3C/svg%3E");
    position: absolute;
    top: 1.25em;
    right: 1.25em;
    pointer-events: none;
}
html[saved-theme="dark"] div.graph > #global-graph-outer.active::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 16 16' fill='none'%3E%3Cpath stroke='%23f8f8f6' stroke-linecap='butt' stroke-width='1.5' d='M2 14L14 2'/%3E%3Cpath stroke='%23f8f8f6' stroke-linecap='butt' stroke-width='1.5' d='M14 14L2 2'/%3E%3C/svg%3E");
}
div.graph > #global-graph-outer > #global-graph-container {
    width: 80vw;
    max-width: calc(100vw - 2em);
    height: 80vh;
    max-height: calc(100vh - 2em);
    max-height: calc(100dvh - 2em);
    border-radius: calc(var(--r3) + var(--r5));
    color: var(--dark);
}


article.popover-hint h1,


article.popover-hint h1,
article.popover-hint h2,
article.popover-hint h3,
article.popover-hint h4,
article.popover-hint h5,
article.popover-hint h6 {
    padding-top: 1em;
    margin-top: 0;
}
article.popover-hint hr + h1,
article.popover-hint hr + h2,
article.popover-hint hr + h3,
article.popover-hint hr + h4,
article.popover-hint hr + h5,
article.popover-hint hr + h6 {
    padding-top: 0;
}
article.popover-hint h2,
article.popover-hint h3,
article.popover-hint h4,
article.popover-hint h5,
article.popover-hint h6 {
    padding-top: 1em;
    margin-top: 0;
}
article.popover-hint hr + h1,
article.popover-hint hr + h2,
article.popover-hint hr + h3,
article.popover-hint hr + h4,
article.popover-hint hr + h5,
article.popover-hint hr + h6 {
    padding-top: 0;
}